[submodule "SFML"]
	path = SFML
	url = https://github.com/LaurentGomila/SFML.git
[submodule "assets"]
	path = assets
	url = git@github.com:victorsavu3/assets.git
[submodule "tmx-parser"]
	path = tmx-parser
	url = git@github.com:victorsavu3/tmx-parser.git
